body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.jumbotron {
<<<<<<< HEAD
  background: rgb(223, 127, 127);
=======
  background: rgb(217,83,79);
>>>>>>> 058857c6aa9f0c78147c5593188fb5aa39b27ace
  width: 100%;
  border-radius: 0;
}
.container {
  width: 100%;
}
.searchForm {
  height: 60px;
  font-size: 50px;
}
.searchButton {
  height: 60px;
  width: 200px;
}
.sortBtn {
  margin-right: 20px;
}
.active {
  background-color: #D3D3D3;
  padding: 18px 10px 18px 10px;
}
